:host {
  display: block;
}
.error {
  background-color: rgba(255, 0, 0, 0.397);
}
.err {
  background-color: rgba(0, 38, 255, 0.397);
}
.inputDiv {
  display: flex;
  align-items: center;
  gap: 4px;
}
input {
  font-size: 16px;
  font-weight: 300;
  padding: 4px;
  border: none;
  outline: none;
}

.sm input {
  padding: 2px 4px;
}
.me input {
  padding: 4px 8px;
}
.lg input {
  padding: 8px 8px;
}

.sm button {
  padding: 4px;
}
.me button {
  padding: 6px;
}
.lg button {
  padding: 8px;
}
.inputContainer {
  display: flex;
  width: fit-content;
  background-color: white;
  border: 1px solid black;
}

.inputContainer button {
  border: none;
  background-color: white;
  outline: none;
}

.inputContainer button:hover {
  background-color: gray;
  cursor: pointer;
}
